header {
	color: #FFFFFF;
	background-color: #284b63;
	padding: 80px 0;
	text-align: center;
}

h1 {
	font-size: 48px;
	margin: 0 0 16px 0;
}

h2 {
	font-weight: 300;
	font-size: 24px;
	margin: 0 0 16px 0;
}

.container {
	margin: 0 auto;
	padding: 0 20px 0 20px;
	max-width: 900px;
}

.btn-dl {
	display: inline-block;
	color: white;
	background: #549DA0;
	padding: 12px 16px;
	border-radius: 5px;
	cursor: pointer;
	font-weight: 500;
	font-size: 20px;
}

.btn-dl:hover {
	background: #468486;
}

section {
	padding: 40px 0;
	text-align: center;
}

.features {
	background: #FFFFFF;
	color: #000000;
}

.feature {
	display: inline-block;
	width: 32%;
	font-size: 18px;
}

.feature img {
	width: 40%;
}

.quote {
	background-color: #549DA0;
	color: #FFFFFF;
}

blockquote {
	margin: 0;
	padding: 0;
	text-align: center;
}

blockquote p {
	margin: 0 0 5px 0;
	font-size: 24px;
}

blockquote cite {
	font-size: 16px;
	font-style: italic;
}

blockquote cite:before {
	content: '-';
	margin-right: 5px;
}

footer {
	background-color: #353535;
	padding: 32px 0;
	text-align: center;
	color: #868686;
}
