body {
	background-color: #0e0e0e;

h1 {
	margin: 10px 0;
	font-size: 18px;
	letter-spacing: 2px;
}

strong {
	color: blue;
}

ul {
	list-style-type: square;
	list-style-position: inside;
	padding-left: 30px;
}

table {
    border-collapse: collapse;
}

td, th {
    border-color: 1px solid black;
    padding: 10px;
}

th {
    background-color: #2493df;
    color: white;
}

table caption {
    color: #2493df;
    font-weight: bold;
    text-align: left;
}

label {
	font-size: 16px;
	font-weight: bold;
}

section {
	padding: 10px;
}

#buy {
	background-color: #687373;
	margin-top: 10px;
	color: #fcfcfc;
}

footer {
	margin-top: 10px;
	color: gray;
	font-size: 14px;
	text-align: center;
}
