h1 {
	margin: 10px 0;
	font-size: 18px;
	letter-spacing: 2px;
}

strong {
	color: blue;
}

label {
	font-size: 16px;
	font-weight: bold;
}

section {
	padding: 10px;
}

footer {
	margin-top: 10px;
	color: gray;
	font-size: 14px;
	text-align: center;
}
