header {
	color: #FFFFFF;
	background-color: #284b63;
	padding: 80px 0;
	text-align: center;
}

.submenu {
	left: 50%;
	transform: translate(-50%, 0);
	text-align: center;
	position: absolute;
	background-color: #549DA0;
	min-width: 160px;
	border-radius: 5px;
	box-shadow: 0px 8px 16px 0;
	display: none;
}

.submenu a {
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.submenu a:hover {
	background-color: #468486;
}

h1 {
	font-size: 48px;
	margin: 0 0 16px 0;
}

h2 {
	font-weight: 300;
	font-size: 24px;
	margin: 0 0 16px 0;
}

.container {
	margin: 0 auto;
	padding: 0 20px 0 20px;
	max-width: 900px;
}

.btn-dl {
	display: inline-block;
	color: white;
	background: #549DA0;
	padding: 12px 16px;
	border-radius: 5px;
	cursor: pointer;
	font-weight: 500;
	font-size: 20px;
}

.btn-dl:hover {
	background: #468486;
}

section {
	padding: 40px 0;
	text-align: center;
}

.features {
	background: #FFFFFF;
	color: #000000;
}

.feature {
	display: inline-block;
	width: 32%;
	font-size: 18px;
}

.feature img {
	width: 40%;
}

.quote {
	background-color: #549DA0;
	color: #FFFFFF;
}

blockquote {
	margin: 0;
	padding: 0;
	text-align: center;
}

blockquote p {
	margin: 0 0 5px 0;
	font-size: 24px;
}

blockquote cite {
	font-size: 16px;
	font-style: italic;
}

blockquote cite:before {
	content: '-';
	margin-right: 5px;
}

footer {
	background-color: #353535;
	padding: 32px 0;
	text-align: center;
	color: #868686;
	font-size: 12px;
 }

 footer ul {
	 list-style: none;
	 margin: 0;
	 padding: 0;
 }

 footer ul li {
	 display: inline-block;
 }

 footer ul li a {
	 text-decoration: none;
	 color: #C3C3C3;
	 margin: 5px;
	 padding: 6px;
	 font-size 14px;
 }

 footer li a:hover {
	 color: white;
 }

 footer p:before {
	 content: "\00A9";
	 font-size: 14px;
	 margin-right: 6px;
 }
